@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('../kswux/package/style/general.css'); */
@import url('../kswux/package/style/variable.css');

@font-face {
  font-family: 'MyCustomFont-Light';
  src: url('../public/font/AlibabaPuHuiTi-3-45-Light.otf') format('opentype');
}
@font-face {
  font-family: 'MyCustomFont';
  src: url('../public/font/AlibabaPuHuiTi-3-55-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'MyCustomFont-SemiBold';
  src: url('../public/font/AlibabaPuHuiTi-3-75-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'MyCustomFont-Bold';
  src: url('../public/font/AlibabaPuHuiTi-3-85-Bold.otf') format('opentype');
}

* {
  font-family: 'MyCustomFont', sans-serif;
  /* color: red; */
  font-weight: 500;
}

.epx-title {
  @apply text-3xl font-bold my-4;
}
.epx-title-sub {
  @apply text-lg font-bold my-2;
}

.epx-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
